{% extends "index.html" %}
{% load static %}

{% block title %}
login
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
  body {
    font-family: Arial, sans-serif;
    background-image: url('{% static "images/image2.jpg" %}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
</style>
{% endblock style %}

{% block body %}
<div class="center-container">
  <div class="form-container">
    <p class="title">Welcome back</p>
    <form class="form" method="post" class="login-form">
      {% csrf_token %}
      <input type="text" class="input" id="username" name="username" required placeholder="Username">
      <input type="password" class="input" id="password" name="password" placeholder="Password" required>
      {% if error_message %}
      <span class="error">{{ error_message }}</span>
      {% endif %}
      <button type="submit" class="form-btn">Log in</button>
    </form>
  </div>
</div>
{% endblock body %}
